* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #fff;
}

.header {
    height: 70vh;
    width: 100%;
    background-image: url('assets/header-image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav {
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 100px;
}

.nav img {
    width: 150px;
}

.lang-btn, .login-btn {
    background-color: rgba(23, 23, 23, 0.2);
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    margin-left: 10px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

.login-btn {
    background-color: #e50914;
}

.header-content {
    text-align: center;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-content h1 {
    font-size: 65px;
    font-weight: 900;
    line-height: 1.2;
}

.header-content h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

.header-content p {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
}

.signup {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.signup input {
    padding: 30px 40px;
    width: 60%;
    border: none;
    font-size: 20px;
}

.signup button {
    padding: 30px 40px;
    width: 40%;
    border: none;
    background-color: #e50914;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.features {
    padding: 40px 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 40px 0 20px;
}

.content_txt {
    flex-basis: 600px;
    flex-grow: 1;
}

.content_img {
    flex-basis: 600px;
    flex-grow: 1;
}

.content h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 10px;
}

.content h4 {
    font-size: 30px;
    font-weight: 500;
}

.faq {
    text-align: center;
}

.faq h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
}

.faqitems {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.ques {
    font-size: 25px;
    font-weight: 500;
}

svg {
    cursor: pointer;
}

footer {
    margin: auto;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footeritems {
    margin: 20px 0;
    flex-basis: 230px;
    flex-grow: 1;
}

footer .footeritems a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    cursor: pointer;
}
